html{
  height: 100%;

}


.landing-page{

  background: url(images/wildlife-photography-of-tiger-951007.jpg);
  /* background-repeat: no-repeat; */
  background-size: cover;
  background-position: center;
  filter: brightness(70%);
  background-repeat: no-repeat;
}

.navbar{
  opacity: .3;
}
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-brand,
.navbar-nav .nav-link.active{
  color: aliceblue;
  font-family: 'Raleway';
  text-shadow: 1px 1px 2px black, 0 0 25px #bbbbbb, 0 0 5px darkblue;
}

.start-text{
  text-align: center;
  padding-top: 20%;
  color: aliceblue;
  font-family: 'Raleway';
  text-shadow: 1px 1px 2px black, 0 0 25px #bbbbbb, 0 0 5px darkblue;

}

.comm-text{
text-align: center;
}

.center-text,
.comm-center-text{
  font-family: "Eagle Lake";
  /* font-size: 5.0rem; */
  font-weight: bold;
}

.center-text-lower{
  font-style: italic;
  font-size: 3.0rem;
}

.container {
  max-width: 50%;
  margin: 40px auto;
}

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: aliceblue;
  text-align: center;
  height: 1.5em;
  opacity: .5;
  padding-top: 20px;
  padding-bottom: 52px;
  }
  .hr-text::before {
    content: '';

    background: linear-gradient(to right, transparent, aliceblue, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 3px;
  }
  .hr-text::after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;

    padding: 0 .5em;
    line-height: 1.5em;

    color: #738598;
    background-color: #fcfcfa;
    font-size: 2.5rem;
    border-radius: 50%;
  }

  /* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {  h1 {
  font-size: 2.5rem;
}}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { h1 {
  font-size: 3.5rem;
}}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { h1 {
  font-size: 4.5rem;
}}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
h1 {
  font-size: 5.0rem;
}}
/* H2 text */
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {  .center-text-lower {
  font-size: 2.0rem;
}}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { .center-text-lower {
  font-size: 2.5rem;
}}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { .center-text-lower {
  font-size: 3.0rem;
}}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
.center-text-lower {
  font-size: 3.0rem;
}}


/* YOUTUBE VIDEOS */

